/*------ base ------*/
body{
	font-size: 20px;
}

*{
  box-sizing: border-box;
}

a{
	text-decoration: none;
}

input{
	margin: 0;
  font-size: 20px;
}

input[type="submit"]{
	line-height: 40px;
	cursor: pointer;
}

.main{
	width: 600px;
	padding-top: 20px;
	margin: 0 auto;
	text-align: center;
}

.main img{
  width:40%;
  height:auto;
}

/*------ form ------*/

.form_title{
	letter-spacing: 0.5em;
  top: 14%;
  font-size: 25px;
  color: rgb(0, 0, 205);
	margin-bottom: 50px;
}

.form_item{
	margin-bottom: 45px;
	text-align: left;
}

.form_item > label{
	display: block;
	margin-bottom: 15px;
	font-weight: bold;
	color: rgb(0, 0, 205);
}

.form_item > input[type="text"], .form__item > input[type="password"]{
	width: 80%;
	line-height: 40px;
}

.form_item > input[type="submit"]{
	width: 80%;
}

.error-message{
	color: red;
	font-size: 16px;
}