<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Sauna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- 一覧画面 -->
      <h1>サ活内容一覧</h1>
      <div class="float-end">
          <a th:href="@{/sauna/new}" class="btn btn-primary">登録はこちら</a>
      </div>
      <form th:action="@{/user/logout}" method="post" class="btn btn-link">
        <button class="btn btn-outline-dark">ログアウト</button>
      </form>
      <div th:if="${saunalist}">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>施設名</th>
              <th>サウナ温度</th>
              <th>サウナ満足度</th>
              <th>水風呂温度</th>
              <th>水風呂満足度</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="sauna : ${saunalist}" th:object="${sauna}" class="align-middle">
              <td th:text="*{name}"></td>
              <td th:text="*{saunaTemp}"></td>
              <td th:text="*{saunaSatisfaction}"></td>
              <td th:text="*{waterTemp}"></td>
              <td th:text="*{waterSatisfaction}"></td>
              <td>
                  <a th:href="@{/sauna/{id}/edit(id=*{id})}" class="btn btn-primary">編集</a>
                  <a th:href="@{/sauna/{id}/delete(id=*{id})}" class="btn btn-secondary">削除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 id="graph" class="m-3">グラフ</h2>
      <h3 class="mt-3">サウナ室温度別の満足度</h3>
      <canvas id="canvas"></canvas>
      <script type="text/javascript" th:inline="javascript">
        const saunalist = /*[[${saunalist}]]*/"saunalist";

        //sauna_tempの配列
        let saunaTempArray = [];
        //sauna_tempデータの準備
        const saunaTemp = saunalist.map(x=>x.saunaTemp);
        for(var i = 0; i < saunaTemp.length; i++){
          saunaTempArray.push(saunaTemp[i]);
        }

        //sauna_satisfactionの配列
        let saunaSatisfactionArray = [];
        //sauna_satisfactionデータの準備
        const saunaSatisfaction = saunalist.map(x=>x.saunaSatisfaction);
        for(var i = 0; i < saunaSatisfaction.length; i++){
          saunaSatisfactionArray.push(saunaSatisfaction[i]);
        }

        window.onload = function(){
          ctx = document.getElementById("canvas").getContext('2d');
          window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: complexChartOption
          });
        };
        var barChartData = {
          labels: saunaTempArray,
          datasets: [
            {
              type: 'bar',
              label: "満足度",
              data: saunaSatisfactionArray,
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(242, 87, 87, 0.9)',
                'rgba(153,242,87,0.9)',
                'rgba(87, 138, 242, 0.9)',
                'rgba(242,231,87,0.9)'
                ],
                borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgba(242, 87, 87, 0.9)',
                'rgba(87, 138, 242, 0.9)',
                'rgba(242,231,87,0.9)'
                ],
                yAxisID: "y-axis-2",
                borderWidth: 1,
                  lineTension: 0,
                  fill: false,
            },
          ],
        };
        var complexChartOption = {
          responsive: true,
          scales: {
            yAxes: [{
              id: "y-axis-1",
              type: "linear",
              position: "left",
              ticks: {
                min: 0,
                stepSize: 1
              },
            }, {
              id: "y-axis-2",
              type: "linear",
              position: "right",
              ticks: {
                min: 0,
                stepSize: 1
              },
              gridLines: {
                drawOnChartArea: false,
              },
            }],
          }
        };
      </script>
    </div>
  </body>
</html>